<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/paginalogin/style.css">
</head>
<body>

    <h1 class="titulo_pagina">

        EtherHaven

    </h1>

    <p class="elementos_lista">
        Insira suas informações para entrar

        <style>
            form {
                width: 300px;
                margin: 0 auto;
            }
    
            label {
                display: inline-block;
                width: 100px;
            }
        </style>

        <form class="elementos_lista" method="POST" action="{% url 'autenticacao' %}">
            {% csrf_token %}
            <label for="nome_usuario">Usuário:</label>
            <input type="text" id="nome_usuario" name="nome_usuario" placeholder="Digite seu nome de usuário">
                <br>
            <label for="senha_usuario">Senha:</label>
            <input type="password" id="senha_usuario" name="senha_usuario" placeholder="Digite sua senha">

            <p class="botao_submeter"> 
                <input type="submit" value="Entrar">
            </p>

</body>
</html>