<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/gestortarefas/style.css">
</head>
<body>

    <h1 class="titulo_pagina">

        EtherHaven

    </h1>

    <p class="elementos_lista">
        Lista de Tarefas

            <ul class="elementos_lista">


            {% for tarefa in object_list %}

                <li>
                <input type="checkbox" id="tarefa-{{ tarefa.id }} name=tarefa-{{ tarefa.id }}">
                <label for="tarefa-{{ tarefa.id }}">{{ tarefa.nome_tarefa }}</label>
                </li>           


            {% empty %}
                <li>Sem tarefas no momento.</li>
            {% endfor %}


            </ul>
    </p>

    <p class="botao_submeter"> 
        <span type="submit" onclick="alert('Lista atualizada!')" class="btn btn-one">
            Atualizar Lista
        </span>
    </p>

</body>
</html>